.imagen {
    width: 70%;
    height: auto;
    display: block;
    margin: 50px auto 0 auto;
}

.input1 {
    width: 80%;
    margin: 0 auto; // Esto centrará el input horizontalmente

    --padding-start: 80px;
    --padding-end: 20px;
  }
  
  