<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/img/undraw_login_re_4vu2.svg" class="imagen"></ion-img>

  <form [formGroup] = "formularioLogin">

    <br><br>
  <ion-input formControlName="nombre" label="" label-placemente="floating" fill="outline" placeholder="Ingrese Usuario"></ion-input>
    <br><br>
  <ion-input formControlName="password" type="password" label="" label-placemente="floating" fill="outline" placeholder="Ingrese Contraseña"></ion-input>

  <br><br>

  <ion-button style="width: 80%; margin: 0 auto; display: block;" (click)="iniciarSesion()" expand="block" color="primary">Iniciar Sesión</ion-button>
    <br>
  <ion-button [routerLink]="['/registro']" shape="block" style="width: 80%; margin: 0 auto; display: block;">Registrarse</ion-button>

  <button *ngIf="inicioSesionExitoso" routerLink="/welcome">Ir a Home</button>

</form>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; 2023 RegistrAPP</ion-title>
  </ion-toolbar>
</ion-footer>
